@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to quiz topia</h1>
    <p>where your knowlegde is not only tested but compared to others.</a>.</p>
</div>
